body {
    color: #DDD;
    font-family: 'Segoe UI', 'Microsoft Yahei', 'Microsoft JhengHei', Tahoma, "Helvetica Neue", Arial, Geneva, Verdana, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    background-color: #222;
    padding: 40px 0 0 0;
    margin: 0;
}
a, a:visited {
    color: #6DF;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #9EF;
    text-decoration: underline;
}
a:active {
    color: #8CE;
    text-decoration: underline;
}
code, code a, code span {
    font-family: "Cascadia Code", "Consolas", "Segoe UI", "Microsoft Yahei", "Microsoft JhengHei", "Tahoma", "Helvetica Neue", "Arial", "Geneva", "Verdana", sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}
body > header > section, body > footer > section {
    margin: 0 auto;
    box-sizing: content-box;
    position: relative;
}
body > section > section a, body > section > section a:visited {
    transition: 0.4s;
}
body > section > section a:active, body > section > section a:hover {
    transition: 0.1s;
}
body > section, body > header, body > footer {
    padding: 0 20px;
    position: relative;
}

/* Header */
body > header:first-child {
    height: 40px;
    background-color: #333;
    background-image: url(https://kingcean.net/images/bg/title.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    white-space: nowrap;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1024;
}
body > header:first-child > a.x-file-back, a.x-file-back:visited {
    padding: 0 8px;
    margin: 8px 8px 8px 0;
    border-radius: 4px;
    line-height: 24px;
    text-decoration: none;
    display: inline-block;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 2px;
}
body > header:first-child > a.x-file-back:hover {
    background-color: rgba(0,0,0,0.1);
}
body > header:first-child > a.x-file-back:active {
    background-color: rgba(0,0,0,0.2);
}
body > header:first-child > span.x-file-name {
    line-height: 24px;
    margin: 8px 12px 8px 0;
    text-shadow: rgba(0, 0, 0, 0.7) 0 0 2px;
}

/* Footer */
body > section + footer,
body > script + footer {
    height: 340px;
    margin: 0;
    background-color: #333;
    background-image: url(https://kingcean.net/images/bg/bottom.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
body > footer > section > div.x-copyright {
    width: 275px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 60px;
    left: 0;
    user-select: none;
}
body > footer > section > div.x-copyright > img:first-child {
    background-color: #CCC;
    width: 275px;
    height: 40px;
    padding: 4px 0;
    border-radius: 4px;
    display: block;
}
body > footer > section > div.x-copyright > img:first-child + span {
    line-height: 22px;
    text-align: center;
    height: 22px;
    padding-right: 1px;
    display: block;
    cursor: default;
}

/* Body */
body > section > section,
body > section > h1,
body > section > h2,
body > section > h3 {
    font-weight: normal;
    padding: 0;
    margin: 20px auto;
    position: relative;
    box-sizing: content-box;
}
body > section > h1, body > section > section > h1 {
    font-size: 24px;
    line-height: 32px;
}
body > section > h2, body > section > section > h2 {
    font-size: 20px;
    line-height: 28px;
}
body > section > h3, body > section > section > h3 {
    font-size: 18px;
    line-height: 24px;
}
body > section > h3 {
    font-size: 16px;
    font-weight: bolder;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    cursor: default;
}
body > section > h3 > svg, body > section > h3 > span, body > section > h3 > a {
    vertical-align: middle;
}
body > section > ul, body > section > ul > li {
    background-color: transparent;
}

/* Links */
a.link-tile-wide, a.link-tile-wide:visited {
    color: #CCC;
    font-size: 18px;
    text-decoration: none;
    width: 190px;
    background-color: #282828;
    padding: 24px;
    margin: 0 4px 4px 0;
    border: 1px solid #333;
    border-radius: 4px;
    display: inline-block;
}
a.link-tile-wide.grouping-more, a.link-tile-wide.grouping-more:visited {
    width: 60px;
    text-align: center; 
}
a.link-tile-wide:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-tile-wide:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-tile-wide > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide > svg, a.link-tile-wide:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-wide:hover > svg {
    fill: #EEE;
}
a.link-tile-wide:active > svg {
    fill: #9EF;
}
a.link-tile-wide > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button, a.link-long-button:visited {
    color: #CCC;
    font-size: 18px;
    text-decoration: none;
    line-height: 20px;
    background-color: #282828;
    padding: 24px;
    margin: 0 0 8px 0;
    border: 1px solid #333;
    border-radius: 4px;
    display: block;
}
a.link-long-button:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-long-button:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-long-button > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button > svg, a.link-long-button:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button:hover > svg {
    fill: #EEE;
}
a.link-long-button:active > svg {
    fill: #9EF;
}
a.link-long-button > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-button > span > span, a.link-tile-wide > span > span {
    color: #888;
    font-size: 16px;
    transition: 0.4s;
}
a.link-long-button:hover > span > span, a.link-tile-wide:hover > span > span {
    color: #999;
}
@media screen and (max-width:800px) {
    a.link-tile-wide, a.link-tile-wide:visited {
        width: auto;
        margin: 0 0 4px 0;
        display: block;
    }
    a.link-tile-wide.grouping-more, a.link-tile-wide.grouping-more:visited {
        width: 80px;
        padding: 16px;
        text-align: center; 
    }
}

/* Item view of folder and file */
a.link-tile-folder, a.link-tile-folder:visited {
    color: #CCC;
    font-size: 16px;
    text-decoration: none;
    width: 230px;
    height: 28px;
    background-color: transparent;
    padding: 5px 7px;
    margin: 0 4px 4px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 24px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}
a.link-tile-folder:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-tile-folder:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-tile-folder > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
a.link-tile-folder > svg, a.link-tile-folder:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-tile-folder:hover > svg {
    fill: #EEE;
}
a.link-tile-folder:active > svg {
    fill: #9EF;
}
a.link-tile-folder > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
    text-overflow: ellipsis;
}
a.link-long-file, a.link-long-file:visited {
    color: #CCC;
    font-size: 16px;
    text-decoration: none;
    line-height: 24px;
    height: 28px;
    background-color: transparent;
    padding: 5px 7px;
    margin: 0 4px 4px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 24px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
}
a.link-long-file:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #333;
    border-color: #555;
    box-shadow: #111 1px 1px 4px;
}
a.link-long-file:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
    border-color: #444;
    box-shadow: #111 0 0 4px;
}
a.link-long-file > img {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
a.link-long-file > svg, a.link-long-file:visited > svg {
    fill: #CCC;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0 8px 0 0;
    vertical-align: middle;
    display: inline-block;
}
a.link-long-file:hover > svg {
    fill: #EEE;
}
a.link-long-file:active > svg {
    fill: #9EF;
}
a.link-long-file > span {
    line-height: 24px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 20px;
    text-overflow: ellipsis;
}
a.link-long-file > img:first-child + span, a.link-long-file > svg:first-child + span, a.link-long-file > span:first-child {
    min-width: 300px;
}
a.link-long-file > span + span {
    color: #AAA;
    font-size: 14px;
}

/* Buttons */
.x-bar-actions {
    background-color: #333;
    height: 36px;
    padding: 1px;
    border: 1px solid #444;
    border-radius: 4px;
    white-space: nowrap;
    user-select: none;
}
.x-bar-actions > a.link-button, .x-bar-actions > a.link-button:visited {
    color: #CCC;
    font-size: 14px;
    text-decoration: none;
    height: 24px;
    background-color: transparent;
    padding: 6px 8px;
    margin: 0;
    border-radius: 4px;
    line-height: 20px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.x-bar-actions > a.link-button:hover {
    color: #EEE;
    text-decoration: none;
    background-color: #444;
}
.x-bar-actions > a.link-button:active {
    color: #9EF;
    background-color: #282828;
    text-decoration: none;
}
.x-bar-actions > a.link-button > img {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
}
a.link-button > svg, a.link-button:visited > svg {
    fill: #CCC;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
}
.x-bar-actions > a.link-button:hover > svg {
    fill: #EEE;
}
.x-bar-actions > a.link-button:active > svg {
    fill: #9EF;
}
.x-bar-actions > a.link-button > span {
    margin: 0 8px;
    line-height: 20px;
    vertical-align: middle;
    display: inline-block;
    text-overflow: ellipsis;
}

/* Others */
body > main {
    margin: 20px auto;
    max-width: 1000px;
}
#mainElement {
    min-height: 640px;
    margin-bottom: 60px; 
}
.x-style-label {
    user-select: none;
    cursor: default;
}
.x-image-fit {
    max-width: 100%;
    user-select: none;
    cursor: default;
}
.x-file-text-content {
    font-size: 16px;
    overflow-wrap: anywhere;
}
.x-file-image-content {
    max-width: 100%;
}
.x-file-view-splitted {
    margin-left: 150px;
    transition: 0.6s;
}
.x-file-view-menu {
    margin: 0;
    position: absolute;
    top: 0;
    left: 10px;
    width: 150px;
}
.x-file-view-menu > ul, .x-file-view-menu > ul > li {
    margin: 0;
    list-style: none;
    user-select: none;
}
.x-file-view-menu > ul {
    padding: 0;
}
.x-file-view-menu > ul > li {
    padding: 9px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
.x-file-view-menu > ul > li.x-state-selected {
    background-color: #111;
}
.x-file-view-menu > ul > li:hover, .x-file-view-menu > ul > li.x-state-selected:hover {
    background-color: #333;
    border: 1px solid #444;
}
